
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #302f2f, #080808, #262627);
    background-size: 200% 200%; 
    animation: colorMotion 5s infinite linear;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*======================================== Nav Bar Styles================================================== */
#nav-bar {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: black;
}

.nav-bar {
    background: linear-gradient(45deg, #302f2f, #080808, #262627);
    background-size: 200% 200%; 
    animation: colorMotion 5s infinite linear;
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes colorMotion {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-bar .brand a img {
    width: auto; 
    max-height: 70px; 
    margin-right: 10px; 
}

.nav-bar .brand a {
    display: flex;
    align-items: center;
}

.nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .nav-list .hamburger {
    border: 2px solid #fafdfd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    transition: .3s ease transform;
    cursor: pointer;
}

.nav-bar .nav-list .hamburger.active {
    transform: rotate(360deg);
}

.nav-bar .nav-list .hamburger.active .bar:before {
    top: 0;
    transform: rotate(45deg);
}

.nav-bar .nav-list .hamburger.active .bar:after {
    top: 0;
    transform: rotate(-45deg);
}

.nav-bar .nav-list .hamburger.active .bar {
    background-color: transparent;
}

.nav-bar .nav-list .hamburger .bar {
    height: 2px;
    width: 30px;
    background-color: #02e6ff;
    position: relative;
    display: flex;
}

.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #02e6ff;
    transition: .3s ease all;
}

.nav-bar .nav-list .hamburger .bar::before {
    top: 8px;
}

.nav-bar .nav-list .hamburger .bar::after {
    bottom: 8px;
}

.nav-bar .nav-list ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #302f2f, #080808, #262627);
    background-size: 200% 200%; 
    animation: colorMotion 5s infinite linear;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: .3s ease transform;
    text-align: center;
    z-index: -1;
}

.nav-bar .nav-list ul li {
    list-style: none;
    display: block;
    position: relative;
}

.nav-bar .nav-list ul li:hover:after {
    transform: translateX(-50%) scale(1);
}

.nav-bar .nav-list ul li:after {
    content: '';
    position: absolute;
    width: 5rem;
    height: .2rem;
    background-color: #02e6ff;
    left: 50%;
    transform: translateX(-50%) scale(0);
    bottom: 0;
    transition: .3s ease transform;
}

.nav-bar .nav-list ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #f6f8f9;
    display: block;
    letter-spacing: .15rem;
    padding: 1.3rem 2rem;
}
.nav-bar .nav-list ul li a:hover{
    color: #03f1fe;
}

.nav-bar .nav-list.open ul {
    transform: translateY(90px);
}




/*======================================== Hero Styles================================================== */

.hero {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background: linear-gradient(45deg, #302f2f, #080808, #262627);
    background-size: 200% 200%; 
    animation: colorMotion 5s infinite linear;
    align-items: center;
}

.hero .hero-info {
    width: 100%;
    text-align: center;
}

.hero .hero-info .hero-info-heading {
    font-size: 5rem;
    font-weight: 500;
    color: #05e5f5;
}

.hero .hero-info .hero-info-subheading {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: whitesmoke;
    overflow: hidden;
    border-right: .15em solid orange; /* Adjust the color and thickness as needed */
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(30, end) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(253, 253, 252); 
    }
}


.hero .hero-info .hero-info-button {
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: .6rem;
    background: linear-gradient(45deg, #39717a, #04eaff, #077180);
    background-size: 200% 200%;
    animation: colorMotion 5s infinite linear;
    color: #0c0c0c;
}

.social-icons ul {
    margin-top: 20px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons ul li {
    list-style: none;
}

.social-icons ul li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
}

.social-icons ul li a .icon {
    position: relative;
    color: #161515;
    transition: .5s;
    z-index: 3;
}

.social-icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.social-icons ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.social-icons ul li a:hover:before {
    top: 0;
}

.social-icons ul li:nth-child(1) a:before {
    background: #3c6eda;
}

.social-icons ul li:nth-child(2) a:before {
    background: #259bf6;
}

.social-icons ul li:nth-child(3) a:before {
    background: #0392e0;
}

.social-icons ul li:nth-child(4) a:before {
    background: #f3462f;
}



/*======================================== About Section Styles================================================== */

.about {
    width: 100%;
    min-height: 40vh;
    padding: 8rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.about .about-info {
    margin-left: 30px;
    text-align: left;
    width: 45%;
}

.about .about-info .about-info-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #05e5f5;
}

.about .about-info .about-info-desc {
    color: white;
    font-size: 2.3rem;
    line-height: 3rem;
    margin-top: 10px;
}



.about .about-info .about-info-button {
    padding: 1.6rem 2.6rem;
    display: inline-block;
    background: linear-gradient(45deg, #39717a, #04eaff, #077180);
    background-size: 200% 200%;
    animation: colorMotion 5s infinite linear;
    color: #090909;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about .about-img {
    margin-right: 30px;
    width: 35%;
    z-index: 1;
}

.about .about-img .about-img-wrapper {
    height: auto;
    max-width: 400px;
    position: relative;
    display: inline-block;
}

.about .about-img .about-img-wrapper img {
    height: 100%;
    width: 80%;
    z-index: 1; 
}

.about .about-img .about-img-wrapper::after {
    position: absolute;
    content: '';
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 120%;
    background: linear-gradient(45deg, #363737, #a2a0a0, #2b2c2c);
    background-size: 200% 200%;
    animation: colorMotion 5s infinite linear;
    z-index: -1; /* Set a lower z-index for the pseudo-element */
}





/*======================================== Services Section Styles ================================================== */

.services {
    flex-direction: column;
    margin-left: 0px;
    min-height: 0px;

}

.services .services-header {
    width: 100%;
    text-align: center;
}

.services .services-header .services-header-heading {
    color: white; /* Set the text color to white */
}
.services .services-header .services-header-desc{
    color: #04eaff;
}

.services .services-header .services-header-heading {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.services .services-header .services-header-desc {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 20px;
}

.services .services-info {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.services .services-info .service {
    width: calc(50% - 10px);
    min-height: 250px;
    position: relative;
    transition: .3s ease transform;
    margin: 5px;
}

.services .services-info .service .service-card {
    position: absolute;
    height: 60%;
    width: 90%;
    transform-style: preserve-3d;
    transition: .3s ease transform;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.services .services-info .service:hover .service-card {
    box-shadow: 0px 0px 25px #010dfb  ;
    transform: rotateY(180deg) scale(1.05);
}

.services .services-info .service .service-card .service-front,
.services .services-info .service .service-card .service-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #39717a, #04eaff, #077180);
    background-size: 200% 200%;
    animation: colorMotion 5s infinite linear;
    padding: 10px;
    box-sizing: border-box;
}


.services .services-info .service .service-card .service-back {
    transform: rotateY(180deg);
}

.services .services-info .service .service-card .service-front i {
    font-size: 4rem;
    color: black;
    margin-bottom: 10px;
}

.services .services-info .service .service-card .service-front .service-front-heading,
.services .services-info .service .service-card .service-back .service-back-heading {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.services .services-info .service:hover .service-card {
    transform: rotateY(180deg);
}

.services .services-info .service .service-card .service-front i {
    font-size: 3rem;
}

.services .services-info .service .service-card .service-front .service-front-heading,
.services .services-info .service .service-card .service-back .service-back-heading {
    font-size: 2rem;
}






/*======================================== Proficiency Section Styles================================================== */

  

.proficiency .proficiency-info-heading {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #05e5f5;
}

.proficiency-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.proficiency-bars {
    flex: 1;
    margin-right: 10px;
    text-align: center;
}

.progress-bar {
    height: 20px;
    width: 80%;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    margin: 0 auto;
}


.progress {
    height: 100%;
    background: linear-gradient(90deg, rgb(198, 221, 221), rgb(124, 226, 249), #d6d5d5);
    background-size: 200% 200%;
    animation: gradientAnimation 10s infinite;
}

.frontend-progress,
.backend-progress,
.programming-progress {
    background-color: rgb(253, 255, 253);
}

.proficiency-bars p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    text-align: center; 
}

.proficiency-description {
    text-align: justify;
    flex: 1;
    color: white;
    padding: 0 60px; 
}

.proficiency-description p {
    margin-top: 70px;
    font-size: 20px;
    line-height: 1.5;
}






/*======================================== Projects Section Styles================================================== */

#projects {
    text-align: center;
    padding: 40px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around;
    margin-top: 10px;
}

.project-link {
    text-decoration: none;
    color: #333;  
  }
  
  .project-box {
    width: 300px;
    height: 200px;  
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #03f1fe;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;  
  }
  
  
  .project-box:hover {
    transform: scale(1.05);
  }

.project-box h3 {
    margin-top: 0;
    color: rgb(102, 83, 248);
}

.project-details {
    font-size: 16px;
    color: #0a0a0a;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.project-info p {
    margin: 0;
    font-size: 14px;
    color: #121212;
}







#Achievements {
    text-align: center;
    padding: 20px;
}

.achievement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.achievement:hover {
    transform: scale(1.05);
}

.achievement {
    width: 300px;
    margin: 20px;
    border: 2px solid #03f1fe;
    padding: 10px;
    text-align: center;
}

.achievement img {
    width: 300px;
    max-height: 200px; 
    object-fit: cover;

}


#resume {
    text-align: center;
    padding: 20px;
    
}
#resume a {
    color: #00fff7; 
}

#resume a:hover {
    text-decoration: underline;
}



#contact {
    text-align: center;
    padding: 20px;
}

#contact h2 {
    color: #02e6ff;
}

#contact p {
    font-size: 16px;
    color: #f9f7f7;
    margin-bottom: 20px;
}

.contact-button {
    display: inline-block;
    text-decoration: none;
    background-color: #02e6ff;
    color: #0c0c0c;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #0184ad;
}

.contact-info {
    max-width: 400px;
    margin: 0 auto;
}

.contact-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}




footer {
    text-align: center;
    padding: 20px;
    color: #fff;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer-content a {
    color: #02e6ff;
}




 
@media only screen and (max-width: 767px) {
    .nav-bar {
        padding: 1rem;
    }

    .hero {
        padding-top: 20px;
    }

    .about {
        padding: 4rem 2rem;
    }

    .services {
        padding: 4rem 2rem;
    }

    .proficiency .proficiency-info-heading {
        font-size: 3rem;
    }

    .projects-container {
        padding: 20px;
    }

    .achievement-container {
        padding: 20px;
    }

    #resume,
    #contact {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .logo img {
        margin-left: 10px;  
        max-width: 60px;  
    }

    .navigation ul {
        margin-right: 0px;
        list-style: none;
        display: auto;
        gap: 10px;
    }
}





